<!--
 * @Description: 
 * @Version: 2.0
 * @Autor: zhaoyu
 * @Date: 2021-02-24 09:00:07
 * @LastEditors: zhaoyu
 * @LastEditTime: 2021-02-24 09:45:14
-->
<!-- Header -->
<nav id="navbar-section" class="navbar navbar-default navbar-static-top navbar-sticky" role="navigation">
    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

            <a class="navbar-brand wow fadeInDownBig" href="index.html"><img class="office-logo" src="../assets/img/slider/Office.png" alt="Office"></a>
        </div>

        <div id="navbar-spy" class="collapse navbar-collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav pull-right">

                <li>
                    <a href="/blog.html">博客</a>
                </li>


            </ul>
        </div>
    </div>
</nav>

<!-- End Header -->